In [29]:
# pip install nba_api
import pandas as pd
import numpy as np
%matplotlib notebook
import matplotlib.pyplot as plt
plt.style.available

['bmh',
 'classic',
 'dark_background',
 'fast',
 'fivethirtyeight',
 'ggplot',
 'grayscale',
 'seaborn-bright',
 'seaborn-colorblind',
 'seaborn-dark-palette',
 'seaborn-dark',
 'seaborn-darkgrid',
 'seaborn-deep',
 'seaborn-muted',
 'seaborn-notebook',
 'seaborn-paper',
 'seaborn-pastel',
 'seaborn-poster',
 'seaborn-talk',
 'seaborn-ticks',
 'seaborn-white',
 'seaborn-whitegrid',
 'seaborn',
 'Solarize_Light2',
 'tableau-colorblind10',
 '_classic_test']

In [2]:
from nba_api.stats.static import teams
nba_teams= teams.get_teams()
nba_teams[:3]

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Atlanta',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970}]

In [3]:
# consolidate all multiple dicts into one dict, so then able to create a table from 1 single dict
def one_dict(list_dict):
    keys = list_dict[0].keys()
    out_dict = {key:[] for key in keys}
    for dict_ in list_dict:
        for key, value in dict_.items():
            out_dict[key].append(value)
    return out_dict

dict_nba_team = one_dict(nba_teams)
df_teams = pd.DataFrame(dict_nba_team)
df_teams.head()

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966

In [4]:
df_warriors = df_teams[df_teams.nickname=='Warriors']
df_warriors

,id,full_name,abbreviation,nickname,city,state,year_founded
7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946

In [17]:
id_warriors = df_warriors[['id']]
id_warriors

           id
7  1610612744

In [18]:
print(id_warriors.values)
id_warriors = id_warriors.values[0][0]
id_warriors

[[1610612744]]

1610612744

In [19]:
from nba_api.stats.endpoints import leaguegamefinder

In [22]:
gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=id_warriors)
gamefinder

In [28]:
games = gamefinder.get_data_frames()[0]
games
'''
The plus_minus column contains information on the score. If the value is negative, the warriors lost by that many points. 
If the value is positive, the warriors won by that amount of points. The column match-up had the team the warriors were 
playing. GSW stands for Golden State and TOR means Toronto Raptors. Versus signifies it was a home game, and the @ symbol 
means an away game. We can create two DataFrames, one for the games where the warriors faced the raptors at home, 
and the second for away games. 

We can plot out the plus_minus column for both DataFrames. We see the warriors played 
better at home.
'''

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22019,1610612744,GSW,Golden State Warriors,0021900967,2020-03-10,GSW vs. LAC,L,239,107,...,0.815,4.0,31.0,35.0,25,3,0,9,17,-24.0
1,22019,1610612744,GSW,Golden State Warriors,0021900944,2020-03-07,GSW vs. PHI,W,240,118,...,0.750,7.0,28.0,35.0,30,4,2,7,19,4.0
2,22019,1610612744,GSW,Golden State Warriors,0021900929,2020-03-05,GSW vs. TOR,L,240,113,...,0.760,14.0,38.0,52.0,34,4,5,15,23,-8.0
3,22019,1610612744,GSW,Golden State Warriors,0021900913,2020-03-03,GSW @ DEN,W,239,116,...,0.636,5.0,30.0,35.0,31,8,3,11,23,16.0
4,22019,1610612744,GSW,Golden State Warriors,0021900901,2020-03-01,GSW vs. WAS,L,239,110,...,0.708,18.0,34.0,52.0,25,7,7,21,24,-14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3303,21983,1610612744,GOS,Golden State Warriors,0028300048,1983-11-05,GOS vs. NYK,W,240,102,...,0.711,25.0,18.0,43.0,20,16,4,17,27,NaN
3304,21983,1610612744,GOS,Golden State Warriors,0028300040,1983-11-03,GOS @ UTH,L,240,112,...,0.880,27.0,26.0,53.0,22,11,4,19,31,NaN
3305,21983,1610612744,GOS,Golden State Warriors,0028300029,1983-11-01,GOS @ KCK,L,240,114,...,0.750,12.0,18.0,30.0,29,15,3,16,28,NaN
3306,21983,1610612744,GOS,Golden State Warriors,0028300013,1983-10-29,GOS vs. POR,W,240,97,...,0.725,12.0,31.0,43.0,21,9,1,16,37,NaN
3307,21983,1610612744,GOS,Golden State Warriors,0028300004,1983-10-28,GOS @ SEA,W,240,110,...,0.703,21.0,26.0,47.0,26,11,2,19,34,NaN

In [30]:
games.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT',
       'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB',
       'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS'],
      dtype='object')

In [33]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3308 entries, 0 to 3307
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SEASON_ID          3308 non-null   object
 1   TEAM_ID            3308 non-null   int64
 2   TEAM_ABBREVIATION  3308 non-null   object
 3   TEAM_NAME          3308 non-null   object
 4   GAME_ID            3308 non-null   object
 5   GAME_DATE          3308 non-null   object
 6   MATCHUP            3308 non-null   object
 7   WL                 3307 non-null   object
 8   MIN                3308 non-null   int64
 9   PTS                3308 non-null   int64
 10  FGM                3308 non-null   int64
 11  FGA                3308 non-null   int64
 12  FG_PCT             3307 non-null   float64
 13  FG3M               3308 non-null   int64
 14  FG3A               3307 non-null   float64
 15  FG3_PCT            3284 non-null   float64
 16  FTM                3308 non-null   int64
 17  FTA                3308 non-null   int64
 18  FT_PCT             3307 non-null   float64
 19  OREB               3306 non-null   float64
 20  DREB               3306 non-null   float64
 21  REB                3305 non-null   float64
 22  AST                3308 non-null   int64
 23  STL                3308 non-null   int64
 24  BLK                3308 non-null   int64
 25  TOV                3308 non-null   int64
 26  PF                 3308 non-null   int64
 27  PLUS_MINUS         2186 non-null   float64
dtypes: float64(8), int64(13), object(7)
memory usage: 723.8+ KB

In [34]:
games.shape

(3308, 28)

In [36]:
games.describe()

,TEAM_ID,MIN,PTS,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
count,3.308000e+03,3308.000000,3308.000000,3308.000000,3308.000000,3307.000000,3308.000000,3307.000000,3284.000000,3308.000000,...,3307.000000,3306.000000,3306.000000,3305.000000,3308.000000,3308.000000,3308.000000,3308.000000,3308.000000,2186.000000
mean,1.610613e+09,240.666566,105.780532,39.882406,86.421100,0.462004,6.261185,17.437859,0.337713,19.754534,...,0.753751,12.787054,30.512402,43.312557,23.585248,8.617291,5.218259,15.455562,23.024486,0.204575
std,0.000000e+00,12.027250,14.755426,6.194539,8.649937,0.059638,4.538260,10.144092,0.152080,7.122257,...,0.102865,4.789805,5.849809,6.969019,5.860771,3.153635,2.732086,4.202483,4.890547,14.755498
min,1.610613e+09,0.000000,0.000000,0.000000,0.000000,0.259000,0.000000,0.000000,0.000000,0.000000,...,0.375000,0.000000,0.000000,21.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-48.000000
25%,1.610613e+09,240.000000,96.000000,36.000000,81.000000,0.420000,3.000000,9.000000,0.250000,15.000000,...,0.686000,9.000000,27.000000,39.000000,20.000000,6.000000,3.000000,12.000000,20.000000,-9.750000
50%,1.610613e+09,240.000000,106.000000,40.000000,86.000000,0.462000,5.000000,16.000000,0.341500,19.000000,...,0.762000,12.000000,30.000000,43.000000,23.000000,8.000000,5.000000,15.000000,23.000000,-1.000000
75%,1.610613e+09,240.000000,116.000000,44.000000,92.000000,0.505000,9.000000,25.000000,0.433000,24.000000,...,0.826000,16.000000,34.000000,48.000000,27.000000,11.000000,7.000000,18.000000,26.000000,10.000000
max,1.610613e+09,460.000000,162.000000,63.000000,125.000000,0.646000,24.000000,52.000000,1.000000,55.000000,...,1.000000,33.000000,55.000000,72.000000,47.000000,25.000000,18.000000,35.000000,41.000000,50.000000